# LESSON 2: PYTHON DATA TYPES

More information about this lesson can be found [here]()

## 1. Data types

+ **Text type**: `str`
+ **Numeric types**: `int`, `float`, complex
+ **Sequence types**: `list`, `tuple`, range
+ **Mapping type**: `dict`
+ **Set types**: `set`, frozenset
+ **Boolean type**: `bool`
+ **Binary types**: bytes, bytearray, memoryview

### String data type: str

In [1]:
a = 'this is a string in Python'
print('Value:')
print(a)
print('Type:')
print(type(a))

Value:
this is a string in Python
Type:
<class 'str'>

### Integer data type: int

In [2]:
b = 1
print('Value:')
print(b)
print('Type:')
print(type(b))

Value:
1
Type:
<class 'int'>

### Float data type: float

In [3]:
c = 0.5555
print('Value:')
print(c)
print('Type:')
print(type(c))

Value:
0.5555
Type:
<class 'float'>

### Bool data type: bool

In [4]:
d = True
e = False
print('Value:')
print(d)
print('Type:')
print(type(d))

print('Value:')
print(e)
print('Type:')
print(type(e))

Value:
True
Type:
<class 'bool'>
Value:
False
Type:
<class 'bool'>

### List data type: list

In [5]:
f = [1, 2.5, 3, 'stringgg']
print('Value:')
print(f)
print('Type:')
print(type(f))
print('Length:')
print(len(f))

# Print the third element in list `f`
print('The third element in list f:')
print(f[2])

# Print the elements from index 1 to index before 3 in list `f`
# `f[1:3]` is a list
print('The elements from index 1 to index before 3 in list `f`:')
print(f[1:3])
print(type(f[1:3]))

# Print the element by negative index
print('The last elements of list `f` by using negative index:')
print(f[-1])

Value:
[1, 2.5, 3, 'stringgg']
Type:
<class 'list'>
Length:
4
The third element in list f:
3
The elements from index 1 to index before 3 in list `f`:
[2.5, 3]
<class 'list'>
The last elements of list `f` by using negative index:
stringgg

In [6]:
# Error while using list data type
# `list indices must be integers or slices`
# `not float`
print(f[1.1])

TypeError: list indices must be integers or slices, not float

In [ ]:
# `not str`
print(f['1'])

In [ ]:
# Error while using list data type
# List `f` contain only 4 elements but we are printing the seventh element
# so it raise error `list index out of range`
print(f[7])

In [7]:
# Assign value to the item in list
print('List `f` before re-assigning:')
print(f)

f[0] = 'change the first value'

print('List `f` after re-assigning:')
print(f)

List `f` before re-assigning:
[1, 2.5, 3, 'stringgg']
List `f` after re-assigning:
['change the first value', 2.5, 3, 'stringgg']

### Tuple data type: tuple

In [8]:
g = (1, 2.5, 3, 'stringgg')

print('Value:')
print(g)
print('Type:')
print(type(g))
print('Length:')
print(len(g))

# Print the second element in tuple `g`
print('The second element in tuple `f`:')
print(g[1])

# Print the elements from index 1 to index before 3 in tuple `g`
# `g[1:3]` is a tuple
print(g[1:3])
print(type(g[1:3]))

# Print the element by negative index
print('The elements of tuple `g` by using negative index:')
print(g[-2])

Value:
(1, 2.5, 3, 'stringgg')
Type:
<class 'tuple'>
Length:
4
The second element in tuple `f`:
2.5
(2.5, 3)
<class 'tuple'>
The elements of tuple `g` by using negative index:
3

In [9]:
# Like list data type, error while using tuple data type
# `tuple indices must be integers or slices`
# `not float`
print(g[1.1])

TypeError: tuple indices must be integers or slices, not float

In [10]:
# Like list data type, error while using tuple data type
# `tuple indices must be integers or slices`
# `not str`
print(g['1'])

TypeError: tuple indices must be integers or slices, not str

In [11]:
# Like list data type, error while using tuple data type
# `tuple index out of range`
print(g[100])

IndexError: tuple index out of range

### Difference between List and Tuple

In [12]:
# Add item to list
print('List `f` before add new item:')
print(f)
print(len(f))

# Append new item to list
new = 'new_item'
f.append(new)

print('List `f` after add new item:')
print(f)
print(len(f))

# Tuple cannot add new items or re-assign item's value
g[0] = 123123

List `f` before add new item:
['change the first value', 2.5, 3, 'stringgg']
4
List `f` after add new item:
['change the first value', 2.5, 3, 'stringgg', 'new_item']
5

TypeError: 'tuple' object does not support item assignment

### Set data type: set

In [13]:
h = set()

# Add items to set
h.add(1)
h.add(2.5)
h.add('stringgg')
h.add(1)

print('Value:')
print(h)

Value:
{1, 2.5, 'stringgg'}

### Dictionary data type: dict

In [14]:
i = {}

# Add key-value pairs into dictionary
i['name'] = 'Minh'
i['age'] = 24
i[123] = 456

print('Value:')
print(i)
print(type(i))
print('All keys of dictionary `i`:')
print(i.keys())

Value:
{'name': 'Minh', 'age': 24, 123: 456}
<class 'dict'>
All keys of dictionary `i`:
dict_keys(['name', 'age', 123])

In [15]:
j = dict()

# Add key-value pairs into dictionary
j['name'] = 'Minh'
j['age'] = 24
j[123] = 456

print('Value:')
print(j)
print(type(j))
print('All keys of dictionary `j`:')
print(j.keys())

Value:
{'name': 'Minh', 'age': 24, 123: 456}
<class 'dict'>
All keys of dictionary `j`:
dict_keys(['name', 'age', 123])

In [33]:
jj = {
    'name': 'Minh',
    'age': 24,
    123: 456
}

print('Value:')
print(jj)
print(type(jj))
print('All keys of dictionary `jj`:')
print(jj.keys())

Value:
{'name': 'Minh', 'age': 24, 123: 456}
<class 'dict'>
All keys of dictionary `jj`:
dict_keys(['name', 'age', 123])

In [16]:
# Get value from key of dict
print(i['name'])
print(i['age'])
print(i[123])

Minh
24
456

In [17]:
# If key is not available
# raise KeyError
print(i['job'])

KeyError: 'job'

## 2. Casting data types

### Casting between string and integer (str and int)

In [20]:
# Init an integer
k = 1
print(k, type(k))

# Cast integer to string
l = str(k)
print(l, type(l))

# Cast string to integer
m = int(l)
print(m, type(m))

1 <class 'int'>
1 <class 'str'>
1 <class 'int'>

### Casting between string and float (str and float)

In [25]:
# Init a float
n = 1.
print(n, type(n))

# Cast integer to string
p = str(n)
print(p, type(p))

# Cast string to float
o = float(p)
print(o, type(o))

1.0 <class 'float'>
1.0 <class 'str'>
1.0 <class 'float'>

### Casting between integer and float (int and float)

In [26]:
# Init an integer
r = 1
print(r, type(r))

# Cast integer to float
t = float(r)
print(t, type(t))

# Cast float to integer
q = int(t)
print(q, type(q))

1 <class 'int'>
1.0 <class 'float'>
1 <class 'int'>

### Casting between list and tuple (list and tuple)

In [31]:
# Init a list
w = [1, 2.5, 'stringggg']
print(w, type(w))

# Cast list to tuple
u = tuple(w)
print(u, type(u))

# Cast tuple to list
v = list(u)
print(v, type(v))

[1, 2.5, 'stringggg'] <class 'list'>
(1, 2.5, 'stringggg') <class 'tuple'>
[1, 2.5, 'stringggg'] <class 'list'>

### Casting between list and set (list and set)

In [32]:
# Init a list
w = [1, 2.5, 'stringggg', 1, 'stringggg']
print(w, type(w))

# Cast list to set
z = set(w)
print(z, type(z))

# Cast set to list
x = list(z)
print(x, type(x))

[1, 2.5, 'stringggg', 1, 'stringggg'] <class 'list'>
{1, 2.5, 'stringggg'} <class 'set'>
[1, 2.5, 'stringggg'] <class 'list'>

### Some data types that cannot casting between them

In [36]:
zz = {
    'name': 'Minh',
    'age': 24,
    123: 456
}
print(zz)

xx = list(zz)
print(xx)

yy = dict(xx)
print(yy)

{'name': 'Minh', 'age': 24, 123: 456}
['name', 'age', 123]

ValueError: dictionary update sequence element #0 has length 4; 2 is required