# LESSON 9: MACHINE LEARNING PRACTICE
<img src="../../images/ml_logo.png" width="200px"/>

### PROBLEM:
You are provided with Iris plants dataset. The Iris plants dataset is a classic and very easy multi-class classification dataset. The dataset is provided by `sklearn` library.
<br>

#### Data Characteristics
1. `Number of Instances`: 150 (50 in each of three classes).
2. `Number of Attributes`: 4 numeric, predictive attributes and the class.
3. `Features`: sepal length in cm, sepal width in cm, petal length in cm, petal width in cm.
4. `Class`: Iris-Setosa, Iris-Versicolour, Iris-Virginica
5. `Class Distribution`: 33.3% for each of 3 classes.
6. `Creator`: R.A. Fisher.
7. `Donor`: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov).
8. `Date`: July, 1988.

<img src="../../images/ml_iris.png" width="1000px"/>

#### Question
1. Analyze and visualize the datasets
2. Build a simple machine learning model to classify a iris

### SOLUTION:
#### Overall solution
A simple machine learning solution can be splitted into 3 steps:
- Step 1: Prepare, analyze, visualize dataset
- Step 2: Build and train a machine learning model
- Step 3: Run the machine learning model with new data

#### Preparation
Import library and load iris dataset
<img src="../../images/ml_iris_df.png" width="700px"/>

In [11]:
from sklearn.datasets import load_iris
iris_data = load_iris(as_frame=True)
iris_data.data

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [13]:
iris_data.target

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64