# LESSON 1: PYTHON INTRODUCTION
<img src="../images/py_logo.jpeg" width="300px"/>

## 1. Overall introduction
"Python is a programming language that lets you work more quickly and integrate your systems more effectively."

### Python is popular
- Simple in syntax
- Close to the English language <br>
=> Read and understand easily <br>

The 4th industrial revolution makes Cloud Computing, Machine Learning, and Big Data become hot trend. And Python allows professionals to
- conduct complex statistical calculations
- create data visualizations
- build machine learning algorithms
- manipulate and analyze data
- ... <br>
<img src="../images/py_popular.png" width="700px"/>

### Python has lots of applications
- Web and Internet Development
- Database Access
- Desktop GUIs
- Scientific & Numeric
- Education
- Network Programming
- Software & Game Development

### Python is easy to learn
- Active community which hosts conferences and meetups, collaborates on code, and much more.
- Python document is open and easy to understand ([link](https://docs.python.org/3/library/)).
- Built-in libraries and external libraries are powerful for many tasks, especially for data science, data engineer and data analysis:
    - Scientific computing: numpy, numba, etc.
    - AWS interaction: boto3
    - Image processing: opencv, pillow, albumentation, etc.
    - Machine learning and Deep learning framework: tensorflow, pytorch, onnx, sklearn, etc.
    - Data processing and visualization: pandas, pyyaml, matplotlib, seaborn etc.

In [1]:
print('Hello world!!!')

Hello world!!!

## 2. Import Python library
### 2.1. Import internal library
Internal library is the built-in library which installed while installing Python.

In [2]:
import math
import json
import os

In [3]:
print(math.pi)

3.141592653589793

### 2.2. Import external library
External library is the library developed by community and have to be installed independently with Python.

In [4]:
import numpy
import pandas
import matplotlib

In [5]:
# Error while import library that haven't been installed
import torch

ModuleNotFoundError: No module named 'torch'

### 2.3. Import specific modules from a library

In [ ]:
from math import pi

In [ ]:
print(pi)

In [ ]:
from math import pi, e

In [ ]:
print(pi)
print(e)

### 2.4. Import all modules from a library

In [ ]:
from math import *

In [ ]:
print(pi)
print(e)

### 2.5. Set module alias while importing

In [ ]:
from math import pi as pi_number

In [ ]:
print(pi_number)

In [ ]:
from math import pi as pi_number, e as e_number

In [ ]:
print(pi_number)
print(e_number)

## 3. Introduce to Python comment
In order to note and explain the code, comment is an important part in each programming language. <br>
Each code starts with `#` will be a comment and the compiler will ignore all of them.

In [ ]:
# this is a comment
# Python comment starts with `#`

a = 1 # Assign `a` by value `1`
b = 'MCI Python level 1' # `b` is a string

We can write a comment in multiple lines by using `'''this is a multi-line comment'''` or `"""this is a comment in multiple lines"""`. Originally, `''' '''` and `""" """` stand for Python string in multiple lines, but we only write these strings and don't assign them for any variable, these strings can another type of comment.

In [ ]:
'''
this is
a multi-line comment
'''

a = 1 # Assign `a` by value `1`
b = 'MCI Python level 1' # `b` is a string

In [ ]:
"""
this is
another multi-line comment
"""

a = 1 # Assign `a` by value `1`
b = 'MCI Python level 1' # `b` is a string

We can use the shortcut `Ctrl + /` on Windows and Ubuntu or `Cmd + /` on MacOS to make a line of code become a comment.

## 4. Introduce to Python variable
With Python, we don't need to define the data type of a variable, the compiler will automatically understand based on the value of variable. <br>
### 4.1. Assign value to variable
The simplest way to assign `a value` to `a variable` is using `=`. `=` means `assign`, not `equal`.

In [ ]:
a = 'MCI Python level 1'
b = 123
c = 456.789

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
print(c)

We can assign `multiple values` to `multiple variables` in one line of code. <br>
The first way:

In [ ]:
a, b, c = 'MCI Python level 1', 123, 456.789

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
print(c)

The second way:

In [ ]:
a = 'MCI Python level 1'; b = 123; c = 456.789

In [ ]:
print(a)

In [ ]:
print(b)

In [ ]:
print(c)

We can assign a value to multiple variables

In [ ]:
a = b = c = 456.789

In [ ]:
print(a)

In [6]:
print(b)

NameError: name 'b' is not defined

In [ ]:
print(c)

### 4.2. Name the variable
Some rules while naming Python variable:
- Python variable name can contain only `alphabet a-z A-Z`, `digit 0-9` and `underscore _`, cannot contain special character `! @ # $ % ^ & * ( ) - = + { } : " ; , . / ?`
- Python variable name cannot start with a `digit`, it can only start with `alphabet` or `underscore`. <br>
Example: `1abc` is bad name, `abc1` and `_1abc` are good names.
- Python variable name is case-sentitive. <br>
Example: `abc`, `Abc`, `aBC` are different variables.

In [7]:
1abc = 1

SyntaxError: invalid syntax (<ipython-input-7-f1224379a134>, line 1)

In [8]:
abc1 = 1

In [9]:
_1abc = 1

In [10]:
abc = 1
Abc = 2
aBC = 3

print('abc = ', abc)
print('Abc = ', Abc)
print('aBC = ', aBC)

abc =  1
Abc =  2
aBC =  3

Some styles while naming Python variable:
- Camel Case: the first character of each word is upper-case (except the first word)
    - myHouse
    - dogName
    - myVariableName
- Pascal Case: the first character of each word is upper-case (include the first word)
    - MyHouse
    - DogName
    - MyVariableName
- Snake Case: each word in variable will be separated by the underscore _
    - my_house
    - dog_name
    - my_variable_name
- Or, we can mix these above styles

## 5. Introduce to Python data types

<img src="../images/py_data_types.png" width="500px"/>

### 5.1. Get variable data type
To get the data type of a variable, we use function `type()`.

In [11]:
a = 1

print('a = ', a, type(a))

a =  1 <class 'int'>

In [12]:
b = 15.11

print('b = ', b, type(b))

b =  15.11 <class 'float'>

In [13]:
c = 'MCI Python Level 1'

print('c = ', c, type(c))

c =  MCI Python Level 1 <class 'str'>

### 5.2. Numeric type: Integer (int) and Float (float)
Integer and Float are simple data type in lots of programming language.

In [14]:
d = 1
print('d = ', d)
print('type of d: ', type(d))

d =  1
type of d:  <class 'int'>

In [15]:
e = 0.5555
print('e = ', e)
print('type of e: ', type(e))

e =  0.5555
type of e:  <class 'float'>

In [16]:
f = 1.
print('f = ', f)
print('type of f: ', type(f))

f =  1.0
type of f:  <class 'float'>

### 5.3. Boolean type: Bool
Bool is logical data type (True/False)

In [17]:
g = True
print('g = ', g)
print('type of g: ', type(g))

g =  True
type of g:  <class 'bool'>

In [18]:
h = False
print('h = ', h)
print('type of h: ', type(h))

h =  False
type of h:  <class 'bool'>

### 5.4. Sequence type: String (str)
#### Define a String
The string in Python is define by using `' '` and `" "`. <br>
Example: `'this is a string in Python'` or `"MCI Python level 1"`

In [19]:
a = 'this is a string in Python'
print('a = ', a)
print('type of a: ', type(a))

a =  this is a string in Python
type of a:  <class 'str'>

In [20]:
b = "MCI Python level 1"
print('b = ', b)
print('type of b: ', type(b))

b =  MCI Python level 1
type of b:  <class 'str'>

We can define a string in multiple lines by using `''' '''` and `""" """`. <br>
Example: <br>
`'''this is a string
in Python'''` <br>
or <br>
`"""MCI Python
level 1"""`

In [21]:
a = '''this is a string
in Python'''
print('a = ', a)
print('type of a: ', type(a))

a =  this is a string
in Python
type of a:  <class 'str'>

In [22]:
b = """MCI Python
level 1"""
print('b = ', b)
print('type of b: ', type(b))

b =  MCI Python
level 1
type of b:  <class 'str'>

#### Get the String length
We can get length of the string by using function `len()`

In [23]:
a = 'this is a string in Python'
print('a = ', a)
print('len of a: ', len(a))

a =  this is a string in Python
len of a:  26

#### Slice and Index the String
We can access every character in a string by its `index` (`index` means the position, from 0 to the length - 1).

In [24]:
a = 'MCI Python level 1'
print(a)
print(len(a))

MCI Python level 1
18

In [25]:
print(a[0])

M

In [26]:
print(a[1])

C

In [27]:
print(a[10])

In [28]:
print(a[17])

1

We can use negative index to access character from the end of a string

In [29]:
a = 'MCI Python level 1'
print(a)
print(len(a))

MCI Python level 1
18

In [30]:
print(a[-1])

1

In [31]:
print(a[-2])

In [32]:
print(a[-10])

o

In [33]:
print(a[-18])

M

We can slice a part of a string by using `index` and `:`

In [34]:
a = 'MCI Python level 1'
print(a)
print(len(a))

MCI Python level 1
18

In [35]:
print(a[0:3])

MCI

In [36]:
print(a[4:10])

Python

In [37]:
print(a[-7:-1])

level

In [38]:
print(a[:10])

MCI Python

In [39]:
print(a[-7:])

level 1

We use only integer as index of a string (not float, not string)

In [40]:
print(a[1.])

TypeError: string indices must be integers

In [41]:
print(a['1'])

TypeError: string indices must be integers

#### Functions to modify string
Function `upper()` makes all character become upper-case.

In [42]:
print(a)

MCI Python level 1

In [43]:
a_upper = a.upper()
print(a_upper)

MCI PYTHON LEVEL 1

Function `lower()` makes all character become lower-case.

In [44]:
print(a)

MCI Python level 1

In [45]:
a_lower = a.lower()
print(a_lower)

mci python level 1

Function `replace()` replaces a sub-string by a new string.

In [46]:
print(a)

MCI Python level 1

In [47]:
a_replace = a.replace('Python', 'Excel')
print(a_replace)

MCI Excel level 1

Function `split()` splits an original string into a list of sub-string by a string.

In [48]:
print(a)

MCI Python level 1

In [49]:
a_split_1 = a.split(' ')
print(a_split_1)

['MCI', 'Python', 'level', '1']

In [50]:
a_split_2 = a.split('e')
print(a_split_2)

['MCI Python l', 'v', 'l 1']

#### String format
We can combine other data type variable to print out with string format.<br>
Use simple `format()` function:

In [51]:
level = 1

a = 'MCI Python level {}'.format(level)
print(a)

MCI Python level 1

In [52]:
level = 1
course = 'Python'

a = 'MCI {} level {}'.format(course, level)
print(a)

MCI Python level 1

Use `format()` function with the index:

In [53]:
num_1 = 15
num_2 = 4

In [54]:
a = 'Sum of {} and {} is equal to {}'.format(num_1, num_2, num_1 + num_2)
print(a)

Sum of 15 and 4 is equal to 19

In [55]:
a = 'Sum of {0} and {1} is equal to {2}'.format(num_1, num_2, num_1 + num_2)
print(a)

Sum of 15 and 4 is equal to 19

In [56]:
a = 'Sum of {1} and {2} is equal to {0}'.format(num_1 + num_2, num_1, num_2)
print(a)

Sum of 15 and 4 is equal to 19

From Python 3.6, we can use `f-string` instead of `format()`

In [57]:
a = f'Sum of {num_1} and {num_2} is equal to {num_1 + num_2}'
print(a)

Sum of 15 and 4 is equal to 19

### 5.5. Sequence type: List
List is data type which contains lots of variables, variables in list can be in different data types (including another list).
#### Define a List
To define a list, we use `[` and `]` bracket.

In [58]:
u = [1, 2.5, 3, 'stringgg', -20, 'Minh']
print('u = ', u)
print('type of u: ', type(u))

u =  [1, 2.5, 3, 'stringgg', -20, 'Minh']
type of u:  <class 'list'>

In [59]:
v = [1.504, ['MCI', 3], 'Python', True]
print('v = ', v)
print('type of v: ', type(v))

v =  [1.504, ['MCI', 3], 'Python', True]
type of v:  <class 'list'>

#### Get the List length
Like String, we use function `len()` to get the length of a list.

In [60]:
print(len(u))

6

In [61]:
print(len(v))

4

#### Slide and Index the List
We can access every character in a list by its `index` (`index` means the position, from 0 to the length - 1).

In [62]:
print(u)
print(len(u))

[1, 2.5, 3, 'stringgg', -20, 'Minh']
6

In [63]:
print(u[0])

1

In [64]:
print(u[2])

3

In [65]:
print(v)
print(len(v))

[1.504, ['MCI', 3], 'Python', True]
4

In [66]:
print(v[1])

['MCI', 3]

In [67]:
print(v[2])

Python

We can use negative index to access character from the end of a list

In [68]:
print(u)

[1, 2.5, 3, 'stringgg', -20, 'Minh']

In [69]:
print(u[-1])

Minh

In [70]:
print(u[-3])

stringgg

In [71]:
print(v)

[1.504, ['MCI', 3], 'Python', True]

In [72]:
print(v[-2])

Python

In [73]:
print(v[-3])

['MCI', 3]

We can slice a part of a list by using `index` and `:`

In [74]:
print(u)
print(len(u))

[1, 2.5, 3, 'stringgg', -20, 'Minh']
6

In [75]:
print(u[0:4])

[1, 2.5, 3, 'stringgg']

In [76]:
print(u[2:6])

[3, 'stringgg', -20, 'Minh']

In [77]:
print(u[-4:-1])

[3, 'stringgg', -20]

In [78]:
print(u[:4])

[1, 2.5, 3, 'stringgg']

In [79]:
print(u[-3:])

['stringgg', -20, 'Minh']

We use only integer as index of a list (not float, not string).

In [80]:
print(u[1.])

TypeError: list indices must be integers or slices, not float

In [81]:
print(u['1'])

TypeError: list indices must be integers or slices, not str

#### Change the value of elements in List
Change single value

In [82]:
print('List before re-assigning:')
print(u)

List before re-assigning:
[1, 2.5, 3, 'stringgg', -20, 'Minh']

In [83]:
u[0] = 'change the first value'

print('List after re-assigning:')
print(u)

List after re-assigning:
['change the first value', 2.5, 3, 'stringgg', -20, 'Minh']

Change multiple value

In [84]:
print('List before re-assigning:')
print(v)

List before re-assigning:
[1.504, ['MCI', 3], 'Python', True]

In [85]:
v[2:] = ['change value', 'value changed']

print('List after re-assigning:')
print(v)

List after re-assigning:
[1.504, ['MCI', 3], 'change value', 'value changed']

#### Functions to modify List
Function `append()` used to add an element to the last position of a list.

In [86]:
print(u)
print(len(u))

['change the first value', 2.5, 3, 'stringgg', -20, 'Minh']
6

In [87]:
u.append('appended item')

print(u)
print(len(u))

['change the first value', 2.5, 3, 'stringgg', -20, 'Minh', 'appended item']
7

Function `insert()` used to add an element to the specific position of a list.

In [88]:
print(u)
print(len(u))

['change the first value', 2.5, 3, 'stringgg', -20, 'Minh', 'appended item']
7

In [89]:
u.insert(1, 'inserted item')

print(u)
print(len(u))

['change the first value', 'inserted item', 2.5, 3, 'stringgg', -20, 'Minh', 'appended item']
8

Function `extend()` used to concatenate another list to the original list.

In [90]:
print(u)
print(len(u))

['change the first value', 'inserted item', 2.5, 3, 'stringgg', -20, 'Minh', 'appended item']
8

In [91]:
print(v)
print(len(v))

[1.504, ['MCI', 3], 'change value', 'value changed']
4

In [92]:
u.extend(v)

print(u)
print(len(u))

['change the first value', 'inserted item', 2.5, 3, 'stringgg', -20, 'Minh', 'appended item', 1.504, ['MCI', 3], 'change value', 'value changed']
12

Function `remove()` used to remove the specific item in a list.

In [93]:
print(u)
print(len(u))

['change the first value', 'inserted item', 2.5, 3, 'stringgg', -20, 'Minh', 'appended item', 1.504, ['MCI', 3], 'change value', 'value changed']
12

In [94]:
u.remove(2.5)

print(u)
print(len(u))

['change the first value', 'inserted item', 3, 'stringgg', -20, 'Minh', 'appended item', 1.504, ['MCI', 3], 'change value', 'value changed']
11

In [95]:
u.remove('change value')

print(u)
print(len(u))

['change the first value', 'inserted item', 3, 'stringgg', -20, 'Minh', 'appended item', 1.504, ['MCI', 3], 'value changed']
10

Function `pop()` used to remove the specific item in a list by its index.

In [96]:
print(u)
print(len(u))

['change the first value', 'inserted item', 3, 'stringgg', -20, 'Minh', 'appended item', 1.504, ['MCI', 3], 'value changed']
10

In [97]:
u.pop(1)

print(u)
print(len(u))

['change the first value', 3, 'stringgg', -20, 'Minh', 'appended item', 1.504, ['MCI', 3], 'value changed']
9

In [98]:
u.pop(1)

print(u)
print(len(u))

['change the first value', 'stringgg', -20, 'Minh', 'appended item', 1.504, ['MCI', 3], 'value changed']
8

Function `clear()` used to remove all elements in a list.

In [99]:
print(u)
print(len(u))

['change the first value', 'stringgg', -20, 'Minh', 'appended item', 1.504, ['MCI', 3], 'value changed']
8

In [100]:
u.clear()

print(u)
print(len(u))

[]
0

Function `sort()` used to sort a list in a specific order. <br>
With a list of string, this function will sort a list in alphabet. With a list of number, this function will sort a list ascendingly. <br>
If we use `sort(reverse=True)`, the order will be reversed.

In [101]:
fruit_list = ["orange", "mango", "kiwi", "pineapple", "banana"]
print(fruit_list)

['orange', 'mango', 'kiwi', 'pineapple', 'banana']

In [102]:
fruit_list.sort()
print(fruit_list)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [103]:
fruit_list.sort(reverse=True)
print(fruit_list)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [104]:
number_list = [1, 8.0, 4.2, 3, 6]
print(number_list)

[1, 8.0, 4.2, 3, 6]

In [105]:
number_list.sort()
print(number_list)

[1, 3, 4.2, 6, 8.0]

In [106]:
number_list.sort(reverse=True)
print(number_list)

[8.0, 6, 4.2, 3, 1]

### 5.6. Sequence type: Tuple
Tuple is data type which contains lots of variables, variables in tuple can be in different data types (including another tuple).
#### Define a Tuple
To define a tuple, we use `(` and `)` bracket. <br>
To define a tuple with 1 item, we have to put a comma after this item. => this is one difference between `list` and `tuple`.

In [107]:
g = (1, 2.5, 3, 'stringgg')

print('g = ', g)
print('type of g: ', type(g))

g =  (1, 2.5, 3, 'stringgg')
type of g:  <class 'tuple'>

In [108]:
g_1 = ('this is not a tuple')

print('g_1 = ', g_1)
print('type of g_1: ', type(g_1))

g_1 =  this is not a tuple
type of g_1:  <class 'str'>

In [109]:
g_2 = ('this is a tuple',)

print('g_2 = ', g_2)
print('type of g_2: ', type(g_2))

g_2 =  ('this is a tuple',)
type of g_2:  <class 'tuple'>

#### Get the Tuple length
Like String and List, we use function `len()` to get the length of a tuple.

In [110]:
print(len(g))

4

In [111]:
print(len(g_2))

1

#### Slide and Index the Tuple
We can access every character in a tuple by its `index` (`index` means the position, from 0 to the length - 1).

In [112]:
print(g)
print(len(g))

(1, 2.5, 3, 'stringgg')
4

In [113]:
print(g[0])

1

In [114]:
print(g[2])

3

In [115]:
print(g[3])

stringgg

We can use negative index to access character from the end of a tuple.

In [116]:
print(g)

(1, 2.5, 3, 'stringgg')

In [117]:
print(g[-1])

stringgg

In [118]:
print(g[-3])

2.5

We can slice a part of a tuple by using `index` and `:`

In [119]:
print(g)
print(len(g))

(1, 2.5, 3, 'stringgg')
4

In [120]:
print(g[2:4])

(3, 'stringgg')

In [121]:
print(g[0:3])

(1, 2.5, 3)

In [122]:
print(g[-3:-1])

(2.5, 3)

In [123]:
print(g[:2])

(1, 2.5)

In [124]:
print(g[-3:])

(2.5, 3, 'stringgg')

We use only integer as index of a tuple (not float, not string).

In [125]:
print(g[1.])

TypeError: tuple indices must be integers or slices, not float

In [126]:
print(g['1'])

TypeError: tuple indices must be integers or slices, not str

#### CANNOT change the value of elements in Tuple

In [127]:
print('Tuple `g` before:')
print(g)
print(len(g))

Tuple `g` before:
(1, 2.5, 3, 'stringgg')
4

In [128]:
print(g[0])

1

In [129]:
g[0] = 9999

TypeError: 'tuple' object does not support item assignment

In [130]:
print('Tuple `g` after:')
print(g)
print(len(g))

Tuple `g` after:
(1, 2.5, 3, 'stringgg')
4

### 5.7. Set type: Set
Set is data type which contains lots of variables, variables in set can be in different data types (including another set). <br>

#### Define a Set
To define a list, we use `{` and `}` bracket. Each element in a set is unique.

In [131]:
s = {1, 2, 3}

print('s = ', s)
print('type of s: ', type(s))

s =  {1, 2, 3}
type of s:  <class 'set'>

In [132]:
s = {1, 2, 3, 1}

print('s = ', s)
print('type of s: ', type(s))

s =  {1, 2, 3}
type of s:  <class 'set'>

#### Get the Set length
We use function `len()` to get the length of a set.

In [133]:
print(len(s))

3

#### Access element in Set
The order of elements in set is not guaranteed so we cannot use `index` or `slice` to access item. We can use `for` loop to access elements in set (`for` loop will be introduced in the next lesson)

In [134]:
s[0]

TypeError: 'set' object is not subscriptable

In [135]:
for item in s:
    print(item)

1
2
3

#### Functions to modify Set
Function `add()` can be used to add single item to set.

In [136]:
print(s)
print(len(s))

{1, 2, 3}
3

In [137]:
s.add('add first item')

print(s)
print(len(s))

{1, 2, 3, 'add first item'}
4

Function `update()` can be used to add another set or list or tuple to set.

In [138]:
s_1 = {1.1, 2.2, 3.5, 'new set'}

print(s_1)
print(len(s_1))

{1.1, 2.2, 3.5, 'new set'}
4

In [139]:
s.update(s_1)

print(s)
print(len(s))

{1, 2, 3, 1.1, 2.2, 3.5, 'add first item', 'new set'}
8

In [140]:
l_1 = ['item 1 in list', 'item 2 in list']

print(l_1)
print(len(l_1))

['item 1 in list', 'item 2 in list']
2

In [141]:
s.update(l_1)

print(s)
print(len(s))

{1, 2, 3, 1.1, 2.2, 3.5, 'item 1 in list', 'add first item', 'item 2 in list', 'new set'}
10

Another way to combine 2 set is using function `union()`. The difference is, function `union()` creates a new set, function `update()` adds more item into existing set.

In [142]:
print(s)
print(len(s))

{1, 2, 3, 1.1, 2.2, 3.5, 'item 1 in list', 'add first item', 'item 2 in list', 'new set'}
10

In [143]:
s_3 = {'x', 'y', 'z'}

print(s_3)
print(len(s_3))

{'z', 'x', 'y'}
3

In [144]:
new_s = s.union(s_3)

print(new_s)
print(len(new_s))

{1, 2, 3, 1.1, 2.2, 3.5, 'item 1 in list', 'y', 'add first item', 'item 2 in list', 'x', 'z', 'new set'}
13

Function `intersection_update()` and `intersection()` can be used to get the items that appear in both set. While `intersection_update()` update into existing set, `intersection()` creates a new set.

In [145]:
ss_1 = {1, 2, 3}

print(ss_1)

{1, 2, 3}

In [146]:
ss_2 = {2, 4, 6}

print(ss_2)

{2, 4, 6}

In [147]:
new_ss = ss_1.intersection(ss_2)

print(new_ss)

{2}

In [148]:
ss_1.intersection_update(ss_2)

print(ss_1)

{2}

Function `symmetric_difference_update()` and `symmetric_difference()` can be used to get the items that appear in ONLY ONE set. While `symmetric_difference_update()` update into existing set, `symmetric_difference()` creates a new set.

In [149]:
ss_1 = {1, 2, 3}

print(ss_1)

{1, 2, 3}

In [150]:
ss_2 = {2, 4, 6}

print(ss_2)

{2, 4, 6}

In [151]:
new_ss = ss_1.symmetric_difference(ss_2)

print(new_ss)

{1, 3, 4, 6}

In [152]:
ss_1.symmetric_difference_update(ss_2)

print(ss_1)

{1, 3, 4, 6}

Function `remove()` and `discard()` can be used to remove an item from a set. But, if the removed item is not in set, function `remove()` will raise an error, function `discard()` will not raise an error.

In [153]:
print(s)
print(len(s))

{1, 2, 3, 1.1, 2.2, 3.5, 'item 1 in list', 'add first item', 'item 2 in list', 'new set'}
10

In [154]:
s.remove(1)

print(s)
print(len(s))

{2, 3, 1.1, 2.2, 3.5, 'item 1 in list', 'add first item', 'item 2 in list', 'new set'}
9

In [155]:
s.remove(999)

KeyError: 999

In [156]:
s.discard('new set')

print(s)
print(len(s))

{2, 3, 1.1, 2.2, 3.5, 'item 1 in list', 'add first item', 'item 2 in list'}
8

In [157]:
s.discard(999)

print(s)
print(len(s))

{2, 3, 1.1, 2.2, 3.5, 'item 1 in list', 'add first item', 'item 2 in list'}
8

Function `clear()` can be used to clear all items in a set

In [158]:
s.clear()

print(s)
print(len(s))

set()
0

### 5.8. Dictionary type: Dictionary (dict)
Dictionary is a data type which contains multiple `key: value` pairs. The `key` in dictionary is unique and usually be `int` or `string`. The `value` in dictionary can be changed and can be any Python data type.
#### Define a Dictionary
To define a dictionary, we use `{` and `}` bracket, but each item inside the bracket are `key: value` pair.

In [159]:
a = {
    1: 2,
    'three': 3,
    'fruits': ['apple', 'banana', 'orange'],
    False: 'Wrong'
}

print('a = ', a)
print('type of a: ', type(a))

a =  {1: 2, 'three': 3, 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong'}
type of a:  <class 'dict'>

If a value in a dictonary is another dictionary, we call it a nested dictionary

In [160]:
nested_a = {
    1: 2,
    'number': {
        'one': 1,
        'two': 2,
        'ten': 10
    },
    'fruits': ['apple', 'banana', 'orange'],
    False: 'Wrong'
}

print('nested_a = ', nested_a)
print('type of nested_a: ', type(nested_a))

nested_a =  {1: 2, 'number': {'one': 1, 'two': 2, 'ten': 10}, 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong'}
type of nested_a:  <class 'dict'>

#### Get the Dictionary length
We use function `len()` to get the length of a dictionary.

In [161]:
print(len(a))

4

#### Access element in Dictionary
We can get the `value` by using the `key`. If we pass a key that doesn't exist, it will raise an KeyError.

In [162]:
print(a)

{1: 2, 'three': 3, 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong'}

In [163]:
print(a[1])

2

In [164]:
print(a['three'])

3

In [165]:
print(a['fruits'])

['apple', 'banana', 'orange']

In [166]:
print(a[False])

Wrong

In [167]:
print(a['my_key'])

KeyError: 'my_key'

Another way to get the value is by using function `get()`. If the key we pass to `get()` doesn't exist, the `value` we receive is `default value`.

In [168]:
print(a)

{1: 2, 'three': 3, 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong'}

In [169]:
print(a[1])

2

In [170]:
print(a.get('three'))

3

In [171]:
print(a.get('fruits'))

['apple', 'banana', 'orange']

In [172]:
print(a.get(False))

Wrong

In [173]:
print(a.get('my_key'))

None

In [174]:
print(a.get('my_key', 'my_default_value'))

my_default_value

Accessing the `value` by the `key`, we can modify this `value`.

In [175]:
print(a)

{1: 2, 'three': 3, 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong'}

In [176]:
a['three'] = 'number_three'

print(a)

{1: 2, 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong'}

We can add the new `key: value` pair.

In [177]:
print(a)

{1: 2, 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong'}

In [178]:
a[4] = 'Number Four'
print(a)

{1: 2, 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong', 4: 'Number Four'}

#### Functions to get Dictionary data
Function `keys()` will give us a list of keys of a dictionary.

In [179]:
print(a.keys())

dict_keys([1, 'three', 'fruits', False, 4])

Function `values()` will give us a list of values of a dictionary.

In [180]:
print(a.values())

dict_values([2, 'number_three', ['apple', 'banana', 'orange'], 'Wrong', 'Number Four'])

Function `items()` will give us a list of items of a dictionary. Each items is a tuple of `(key, value)`

In [181]:
print(a.items())

dict_items([(1, 2), ('three', 'number_three'), ('fruits', ['apple', 'banana', 'orange']), (False, 'Wrong'), (4, 'Number Four')])

#### Functions to modify Dictionary
Function `update()` is used to change the `value` of existing `key` or add the new `key: value` pair from another dictionary.

In [182]:
print(a)

{1: 2, 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong', 4: 'Number Four'}

In [183]:
a.update({
    1: 'this is number one',
})
print(a)

{1: 'this is number one', 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong', 4: 'Number Four'}

In [184]:
a.update({
    5: 'Five',
})
print(a)

{1: 'this is number one', 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong', 4: 'Number Four', 5: 'Five'}

In [185]:
a.update({
    5: 'FiveFiveFive',
    6: 'Number 6'
})
print(a)

{1: 'this is number one', 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong', 4: 'Number Four', 5: 'FiveFiveFive', 6: 'Number 6'}

Function `pop()` is used to remove a `key: value` pair by the `key`.

In [186]:
print(a)

{1: 'this is number one', 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong', 4: 'Number Four', 5: 'FiveFiveFive', 6: 'Number 6'}

In [187]:
a.pop(4)

print(a)

{1: 'this is number one', 'three': 'number_three', 'fruits': ['apple', 'banana', 'orange'], False: 'Wrong', 5: 'FiveFiveFive', 6: 'Number 6'}

Function `clear()` is used to clear all `key: value` pairs in the dictionary.

In [188]:
a.clear()

print(a)

{}

### 5.9. Comparision between `list`, `tuple`, `set` and `dictionary`
|Data type|List|Tuple|Set|Dictionary|
|-|-|-|-|-|
|Example|['apple', 'banana', 'orange']|('Book 1', 12.99, 35, 100)|{10, 20, 12, 12.5, 'Book'}|{'name': 'Joe', 'age': 10}|
|Mutable?|Mutable|Immutable|Mutable|Mutable|
|Ordered?|Ordered|Ordered|Unordered|Preserves order since Python 3.7|
|Iterable?|Yes ~ O(n)|Yes ~ O(n)|Yes ~ O(n)|Yes ~ O(1)|
|Use case|Data that needs to change|Immutable data|Unique items|Key/Value pairs|

## 6. Cast between data types

### 6.1. Casting between `integer` and `float` (`int` and `float`)

In [189]:
# Init an integer
r = 1
print(r, type(r))

# Cast integer to float
t = float(r)
print(t, type(t))

# Cast float to integer
q = int(t)
print(q, type(q))

1 <class 'int'>
1.0 <class 'float'>
1 <class 'int'>

### 6.2. Casting between `string` and `integer` (`str` and `int`) and between `string` and `float` (`str` and `float`)

#### String and Integer

In [190]:
# Init an integer
k = 1
print(k, type(k))

# Cast integer to string
l = str(k)
print(l, type(l))

# Cast string to integer
m = int(l)
print(m, type(m))

1 <class 'int'>
1 <class 'str'>
1 <class 'int'>

#### String and Float

In [191]:
# Init a float
n = 1.
print(n, type(n))

# Cast integer to string
p = str(n)
print(p, type(p))

# Cast string to float
o = float(p)
print(o, type(o))

1.0 <class 'float'>
1.0 <class 'str'>
1.0 <class 'float'>

### 6.3. Casting among `list`, `tuple` and `set`

#### List and Tuple

In [192]:
# Init a list
w = [1, 2.5, 'stringggg']
print(w, type(w))

# Cast list to tuple
u = tuple(w)
print(u, type(u))

# Cast tuple to list
v = list(u)
print(v, type(v))

[1, 2.5, 'stringggg'] <class 'list'>
(1, 2.5, 'stringggg') <class 'tuple'>
[1, 2.5, 'stringggg'] <class 'list'>

#### List and Set

In [193]:
# Init a list
w = [1, 2.5, 'stringggg', 1, 'stringggg']
print(w, type(w))

# Cast list to set
z = set(w)
print(z, type(z))

# Cast set to list
x = list(z)
print(x, type(x))

[1, 2.5, 'stringggg', 1, 'stringggg'] <class 'list'>
{1, 2.5, 'stringggg'} <class 'set'>
[1, 2.5, 'stringggg'] <class 'list'>

#### Tuple and Set

In [194]:
# Init a tuple
w = (1, 2.5, 'stringggg', 1, 'stringggg')
print(w, type(w))

# Cast tuple to set
z = set(w)
print(z, type(z))

# Cast set to tuple
x = tuple(z)
print(x, type(x))

(1, 2.5, 'stringggg', 1, 'stringggg') <class 'tuple'>
{1, 2.5, 'stringggg'} <class 'set'>
(1, 2.5, 'stringggg') <class 'tuple'>

## 7. Introduce to Python data operators

<img src="../images/py_operations.jpeg" width="400px"/>

### 7.1. Arithmetic operators
|Operator|Name|Example|Result|
|-|-|-|-|
|+|Addition|2 + 8|10|
|-|Subtraction|8 - 2|6|
|*|Multiplication|8 * 2|16|
|/|Division|8 / 2|4|
|//|Floor division|9 // 2|4|
|%|Modulus|9 % 2|1|
|**|Exponentiation|8 ** 2|64|

In [195]:
a = 5
b = 2
c = -3

In [196]:
a_add_b = a + b
print('a + b = ', a_add_b)

a + b =  7

In [197]:
a_subtract_b = a - b
print('a - b = ', a_subtract_b)

a - b =  3

In [198]:
a_multiply_b = a * b
print('a * b = ', a_multiply_b)

a * b =  10

In [199]:
a_divide_b = a / b
print('a / b = ', a_divide_b)

a / b =  2.5

In [200]:
a_floor_divide_b = a // b
print('a // b = ', a_floor_divide_b)

a // b =  2

In [201]:
a_modulus_b = a % b
print('a % b = ', a_modulus_b)

a % b =  1

In [202]:
a_power_b = a ** b
print('a ** b = ', a_power_b)

a ** b =  25

### 7.2. Comparison operators
|Operator|Name|Example|
|-|-|-|
|==|Equal|x == y|
|!=|Not equal|x != y|
|>|Greater than|x > y|
|>=|Greater than or equal to|x >= y|
|<|Less than|x < y|
|<=|Less than or equal to|x <= y|

In [203]:
a = 5
b = 2
c = 5

In [204]:
# 5 == 5?
a == c

True

In [205]:
# 5 == 2?
a == b

False

In [206]:
# 5 != 5?
a != c

False

In [207]:
# 5 != 2
a != b

True

In [208]:
# 5 > 5
a > c

False

In [209]:
# 5 >= 5
a >= c

True

In [210]:
# 5 > 2
a > b

True

In [211]:
# 5 >= 2
a >= b

True

In [212]:
# 5 < 5
a < c

False

In [213]:
# 5 <= 5
a <= c

True

In [214]:
# 2 < 5
b < c

True

In [215]:
# 2 <= 5
b <= c

True

### 7.3. Logical operators
|Operator|Name|Example|Result|
|-|-|-|-|
|and|Returns True if both statements are True|(2 < 5) and  (2 < 10)|True|
|and|Returns False if one of these statements is False|(2 < 5) and  (2 > 10)|False|
|or|Returns True if one of these statements is True|(2 < 5) or  (2 > 10)|True|
|or|Returns False if all of these statements are False|(2 > 5) or  (2 > 10)|False|
|not|Returns False if the result is True|not(2 < 5)|False|
|not|Returns True if the result is False|not(2 > 5)|True|
|in|Return True if the item is in a sequence|1 in [1, 2, 3]|True|
|in|Return False if the item is not in a sequence|10 in [1, 2, 3]|False|

In [216]:
a = 2
b = 5
c = 10

In [217]:
# (2 < 5) and (2 < 10)
(a < b) and (a < c)

True

In [218]:
# (2 < 5) and (2 > 10)
(a < b) and (a > c)

False

In [219]:
# (2 < 5) or (2 > 10)
(a < b) or (a > c)

True

In [220]:
# (2 > 5) or (2 > 10)
(a > b) or (a > c)

False

In [221]:
# not(2 < 5)
not(a < b)

False

In [222]:
# not(2 > 5)
not(a > b)

True

In [223]:
# 2 in [2, 5, 10]
2 in [a, b, c]

True

In [224]:
# 10 in [2, 5, 10]
3 in [a, b, c]

False

### 7.4. String concatenation by using `+`

#### String concatenation

In [225]:
d = 'string 1'
e = 'string 2'

print(d)
print(e)

string 1
string 2

In [226]:
f = d + e
print(f)

string 1string 2

#### List concatenation

In [227]:
u = [1, 2, 3]
v = ['a', 'b', 'c']

print(u)
print(v)

[1, 2, 3]
['a', 'b', 'c']

In [228]:
new_list = u + v

print(new_list)

[1, 2, 3, 'a', 'b', 'c']

In [229]:
print(u)
print(v)

[1, 2, 3]
['a', 'b', 'c']